<div ng-controller="HomeCtrl as hc">
  <div class="row">
    <!-- RICORDA:
      width:2100px -> width:600px
      height: 800px -> height: 300px

    -->
    <div class="col-xs-12">
        <div class="slides-container"
        enable-jssor
        jssor-options="basicUsageOptions"
        jssor-trigger="true"
        jssor-object="slide4"
        jssor-on-changed="slideChanged(jssorData)"
        style="position: relative; top: 0px; left: 0px; width: 2100px; height: 600px;">
       <!-- Slides Container -->
       <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 2100px; height: 600px;">
           <div><img u="image" src="assets/images/carousel/carousel-001.jpg" /></div>
           <div><img u="image" src="assets/images/carousel/carousel-002.jpg" /></div>
           <div><img u="image" src="assets/images/carousel/carousel-003.jpg" /></div>
       </div>
   </div>
    </div>
  </div>
  <div class="row layout-margin first-section" style="margin-top:40px; padding-bottom : 15px;">
    <div class="col-xs-12 col-sm-4 col-lg-3">
      <h1 class="text-uppercase">About Yoox net-a-porter group</h1><br/>
      <h2 class="text-uppercase">What we do</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 font-paragraph" style="margin-top:10px; padding-left: 30px">
      <div class="row">
        <div class="col-xs-12">
          <p><span class="heading-paragraph text-uppercase">Yoox net-a-porter group</span> is the global Internet retailing
            partner for leading fashion &#38; design brands. It has enstablished isself amongst the market leaders with the
            multi-brand stores yoox.com, thecorner.com and shoescribe, as well as with numerous mono.brand online stores
            all "Powered by YNAP". The Group has offices and operations in the United States, Europe, Japan, China and Hong
            Kong and delivers to more countries worldwide</p>
        </div>
      </div>
      <div class="row">
        <h3 class="text-uppercase" style="padding-left : 15px">Some of our works</h3>
        <div class="col-xs-12 col-sm-6 col-lg-6" style="padding-left: 30px">
          <ul class="no-margin no-padding">
            <li>
              <p class="text-uppercase no-margin">Marni.com</p>
            </li>
            <li>
              <p class="text-uppercase no-margin">Diesel.com</p>
            </li>
            <li>
              <p class="text-uppercase no-margin">Valentino.com</p>
            </li>
            <li>
              <p class="text-uppercase no-margin">Moschino.com</p>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6" style="padding-left: 30px">
          <ul class="no-margin no-padding">
            <li>
              <p class="text-uppercase no-margin">Robertocavalli.com</p>
            </li>
            <li>
              <p class="text-uppercase no-margin">Dolcegabbana.com</p>
            </li>
            <li>
              <p class="text-uppercase no-margin">Dolcegabbana.com</p>
            </li>
            <li>
              <p class="text-uppercase no-margin">Trussardi.com</p>
            </li>
          </ul>
        </div>
      </div>
      <p style="padding-top:10px">Click here to download a PDF of our recent works</p>
    </div>
  </div>
  <div class="row layout-margin news-section" style="padding-bottom : 15px">
    <div class="col-xs-12">
      <h2 class="bold text-uppercase">News</h2>
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-3">
      <h3 class="text-uppercase">The new yoox.com there's new voice in the world of online shopping</h3><br/>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-9 font-paragraph" style="margin-top:10px">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <p>3 September 2012 – Online shoppers can now purchase their favorite outfit simply by speaking to their computer.
            After launching fashion e-commerce back in early 2000, yoox.com has been completely reinvented and redesigned.
            As part of its new look, it introduces Speak & Shop™, a revolutionary feature for online fashion where text search
            meets voice recognition from YOOX Group Technology and R&D divisions - innovation Made in Italy. Millions of
            visitors from around the globe are welcomed to the NEW yoox.com by its digital cover featuring the famous Chinese
            top model Xiao Wen Ju wearing a video-dress conceived by mixing fashion with technology.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <p>Style and design lovers can search their favorite outfit, shoes, accessories or design objects by simply clicking
            or writing their favorite color of the season, or by using the feature Speak & Shop™ allowing them to state their
            preferred color in nine languages (British English, Italian, French, Russian, Spanish, German, US English, Japanese
            and Korean): the digital cover page will return an edited selection of fashion and design pieces in the desired
            color. Xiao Wen Ju's kaleidoscopic look too is transformed in the same color, creating a mono-chrome page of
            products and dreams. Retail therapy meets chromo-therapy – all of course using Google Chrome™.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="derp" class="slideable">
    <div class="row layout-margin news-section" style="padding-bottom : 15px">
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <h3 class="text-uppercase">The new yoox.com there's new voice in the world of online shopping</h3><br/>
      </div>
      <div class="col-xs-12 col-sm-9 col-lg-9 font-paragraph" style="margin-top:10px">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <p>Yoox.com, the leading virtual store for multi-brand fashion and design in the world, in collaboration with Vogue
              Italia presents a new and innovative project dedicated to the forefront of African fashion.<br/> From May 2012
              Discovered in Africa by Vogue Italy Exclusively on Yoox.com offers fashion fans around the world the chance
              to add an original touch of exotic style and elegance to their wardrobes, just in time for summer. Thanks to
              her role as Goodwill Ambassador for the</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <p>Fashion4Developerment project, Director of Vogue Italia Franca Sozzani is directly involved in the UN's fashion
              based initiatives combatting poverty and gender inequality in Africa. Together with sustainable fashion expert
              Marina Spadafora, Franca Sozzani has selected 10 brands to represent the vanguard of African creativity. Thanks
              to the presence of yoox.com in over 100 countries, there products will have chance to be appreciated and purchased
              by fashionistas from every corner of the planet.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row layout-margin news-section" style="padding-bottom : 15px">
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <h3 class="text-uppercase">Le cyclope ardent - the softness of ceramics and the richness of precious metals</h3><br/>
      </div>
      <div class="col-xs-12 col-sm-9 col-lg-9 font-paragraph" style="margin-top:10px">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <p>Cutting-edge French design brand Moustache joins forces with the leading virtual store for multi-brand fashion
              and design in the world, yoox.com, to create an exciting new product - Le Cyclope Ardent, available exclusively
              on yoox.com from the end of March 2012. The Cyclope mirror, designed by young French designer Ionna Vautrin,
              gets its name from the convex mirrors, (which in French are called ‘witches' eyes) - Vautrin takes this magical
              object and perches it atop a soft cone crafted from clay, creating a table-top mirror with a distinctly sculptural
              feel, evoking the mysterious monolithic statues of far-off primitive cultures or the minimal eloquence of </p>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <p>sculptors like Brancusi and Moore. Originally available in a matt ceramic finish, for yoox.com, Vautrin has created
              3 new and unique new versions – Le Cyclope Ardent. Le Cyclope Ardent is coated in a lustrous hi-gloss metallic
              finish, 3 different metals chosen for their evocative richness, luster and sophistication: opulent gold, elegant
              platinum and warm, alluring copper. Like a sculpture for the home, Le Cyclope Ardent sits atop any table or
              desk and gazes out at the world around it, offering users a glimpse into a strange and intriguing vision of
              the world.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row layout-margin" style="padding-bottom : 15px">
    <div class="col-xs-12 no-padding">
      <button class="text-uppercase pull-right news-button" slide-toggle="#derp" ng-click="hc.open = !hc.open">{{hc.open ? 'show more news' : 'show less news'}}<img class="pull-right y-button-image" src="assets/images/1x/arrow_{{hc.open ? 'down' : 'up'}}.png"></button>
    </div>
  </div>
  <div class="row layout-margin" style="padding-bottom : 15px"> 
    <div class="col-xs-4 col-sm-2 col-lg-2" style="padding-left:0;">
      <ul class="list-group" style="margin:0;">
        <li class="list-group-item y-list-item text-uppercase" ng-class="{'open': hc.match('one', hc.sectionName)}" ng-click="hc.getSection('one')">
          <div class="y-item">One<img class="pull-right y-list-item-image" src="assets/images/1x/arrow_right.png"></div>
        </li>
        <li class="list-group-item y-list-item text-uppercase" ng-class="{'open': hc.match('two', hc.sectionName)}" ng-click="hc.getSection('two')">
          <div class="y-item">Two<img class="pull-right y-list-item-image" src="assets/images/1x/arrow_right.png"></div>
        </li>
        <li class="list-group-item y-list-item text-uppercase" ng-class="{'open': hc.match('three', hc.sectionName)}" ng-click="hc.getSection('three')">
          <div class="y-item">Thre<img class="pull-right y-list-item-image" src="assets/images/1x/arrow_right.png"></div>
        </li>
        <li class="list-group-item y-list-item text-uppercase" ng-class="{'open': hc.match('four', hc.sectionName)}" ng-click="hc.getSection('four')">
          <div class="y-item">Four<img class="pull-right y-list-item-image" src="assets/images/1x/arrow_right.png"></li>
      </ul>
    </div>
    <div class="col-xs-8 col-sm-10 col-lg-10">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-8">
          <div class="row">
            <div class="col-xs-6 col-sm-3 col-lg-3 no-padding" ng-repeat="image in hc.section.images">
              <img class="img-responsive" style="max-width:100%" src="{{image}}" />
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4 font-paragraph news-section" style="min-height:315px">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
              <h3>{{hc.section.name}}</h3>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-8" style="padding-top:15px;">
              <p>{{hc.section.details}}</p>
              <h4>Dettagli modella</h4>
              <p ng-repeat="detail in hc.section.modelDetails">{{detail}}<br/></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row layout-margin" style="padding-bottom : 100px;">
    <div class="col-sm-2 col-lg-2">
      <!-- Empty -->
    </div>
    <div class="col-xs-12 col-sm-10 col-lg-10">
      <h3 class="text-uppercase">Contact us</h3>
      <br/>
      <h5 style="padding-bottom:20px">For more information about the services we offer, and how we can work with you, please provide us with the followinf
        items of information. Fields marked by * are required</h5>
      <form>
        <div class="form-group contact-form">
          <div class="row y-contact-form">
            <div class="col-xs-12 col-sm-3 col-lg-3">
              <h4 class="text-uppercase y-contact-label">Contact name *</h4>
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-5">
              <input type="text" class="form-control input-contact-form">
            </div>
          </div>
          <div class="row y-contact-form">
            <div class="col-xs-12 col-sm-3 col-lg-3">
              <h4 class="text-uppercase y-contact-label">Contact email address *</h4>
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-5">
              <input type="email" class="form-control input-contact-form">
            </div>
          </div>
          <div class="row y-contact-form">
            <div class="col-xs-12 col-sm-3 col-lg-3">
              <h4 class="text-uppercase y-contact-label">Contact phone number</h4>
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-5">
              <input type="text" class="form-control input-contact-form">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-3 col-lg-3">
              <!-- Empty -->
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-5">
                <button type="submit" class="y-contact-submit-button">Send</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>