@font-face {
  font-family: base;
  src:  url(/assets/fonts/knock49l-webfont.woff) format('woff'),
        url(/assets/fonts/knock49l-webfont.woff2) format('woff2');
}

@font-face {
  font-family: title;
  src: url(assets/fonts/ttf/kock29jl.TTF) format('woff'),
        url(assets/fonts/ttf/kock29jl.TTF) format('woff2');
}

@font-face {
  font-family: subtitle;
  src: url(/assets/fonts/knock29jl-webfont.woff) format('woff'),
        url(/assets/fonts/knock29jl-webfont.woff2) format('woff2');
}

body {
  font-family: base;
}

/*
h1, h2 {
  font-family: title
}
*/
h5, h6, button {
  font-family: subtitle;
}

.carousel-background {
    background-repeat: no-repeat;
    background-color: #ececec;
  }
  
  
  p {
    color: #707070;
    font-size: 22px;
    font-weight: 300;
  }
  
  .layout-margin {
    margin-right: 250px;
    margin-left: 250px;
  }
  
  .news-section {
    background-color: #f3f3f3;
    border-top: 1px solid grey;
  }

  .no-padding {
    padding : 0px
  }

  .no-margin {
    margin : 0px
  }

  .height-auto{
    height: auto;
  }

  .logo{
    width:100%;
     padding: 10px 0
  }

  @media (max-width: 978px) {
    .layout-margin {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    input {
        border-radius:0px;
        -webkit-box-shadow:inset 0 0 5px #707070;
        -moz-box-shadow:inset 0 0 5px #707070;
             box-shadow:inset 0 0 5px #707070;
 
     background: transparent;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

.news-button, .news-button:hover {
  height: 30px;
  background-color: grey;
  color: white;
  border: 0px;
  border-radius: 0px;
  margin: 10px 5px;
}

.input-contact-form {
  padding: 5px 0;
  border-radius:0px;
  -webkit-box-shadow:inset 0 0 10px rgba(230, 230, 230, 0.81);
  -moz-box-shadow:inset 0 0 10px rgba(230, 230, 230, 0.81);
       box-shadow:inset 0 0 10px rgba(230, 230, 230, 0.81);

background: transparent;
}

.input-contact-form:active,.input-contact-form:active:focus {
  border: 1px grey solid;
}

.contact-form {
  color: rgba(175, 175, 175, 0.78);
}

/* SHOW MORE LESS BUTTON*/

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -ms-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  overflow:hidden;
}

.animate-if.ng-enter {
  max-height: 0;
  opacity: 0;
}

.animate-if.ng-enter.ng-enter-active {
  max-height: 999px;
  opacity:1;
}

.animate-if.ng-leave {
  max-height: 999px;
  opacity:1;
  
}

.animate-if.ng-leave.ng-leave-active {
  max-height: 0;
  opacity:1;
}

.y-list-item {
  height: 79px;
  background-color: #f3f3f3;
  color: black;
  font-size: 26px;
  border-radius: 0;
  border-top: 1px #ececec;
  border-bottom: 1px #ececec;
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
  border-color: #ececec;
  padding:0;
}

.y-list-item.open {
  background-color: white;
}

.y-item {
border-top: 1px solid grey;
border-bottom: 1px solid grey;
padding: 10% 15px 10% 15px;
height: 100%;
}

.y-list-item-image {
  height: 26px;
  margin-top:2px;
}

.font-paragraph {
  font-weight: normal;
}

.questo-collassa {
  display: inline-block;
  overflow: hidden;
  height: 0;
  transition: height 1s;
  -webkit-transition: height 1s;        
  -moz-transition: height 1s;        
  -o-transition: height 1s;         
}

.collapsable.showMe {
  height : 500px
}