.carousel-background {
    background-repeat: no-repeat;
    background-color: grey;
  }
  
  .font-paragraph {
    color: grey;
    font-size: 22px;
    font-weight: 300;
  }
  
  .layout-margin {
    margin-right: 250px;
    margin-left: 250px;
  }
  
  .news-section {
    background-color: #f3f3f3;
    border-top: 1px solid grey;
  }
 
  .no-padding {
    padding : 1px
  }