@font-face {
  font-family: base;
  src:  url(/assets/fonts/knock49l-webfont.woff) format('woff'),
        url(/assets/fonts/knock49l-webfont.woff2) format('woff2');
}

@font-face {
  font-family: title;
  src: url(assets/fonts/ttf/kock29jl.TTF) format('woff'),
        url(assets/fonts/ttf/kock29jl.TTF) format('woff2');
}

@font-face {
  font-family: subtitle;
  src: url(/assets/fonts/knock29jl-webfont.woff) format('woff'),
        url(/assets/fonts/knock29jl-webfont.woff2) format('woff2');
}

body {
  font-family: base;
}

/*
h1, h2 {
  font-family: title
}
*/
h5, h6, button {
  font-family: subtitle;
}

.carousel-background {
    background-repeat: no-repeat;
    background-color: #ececec;
  }
  
  
  p {
    color: #707070;
    font-size: 22px;
    font-weight: 300;
  }
  
  .layout-margin {
    margin-right: 250px;
    margin-left: 250px;
  }
  
  .news-section {
    background-color: #f3f3f3;
    border-top: 1px solid grey;
  }

  .no-padding {
    padding : 0px
  }

  .no-margin {
    margin : 0px;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .height-auto{
    height: auto;
  }

  .logo{
    width:100%;
     padding: 10px 0
  }

  @media (max-width: 978px) {
    .layout-margin {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    input {
        border-radius:0px;
        -webkit-box-shadow:inset 0 0 5px #707070;
        -moz-box-shadow:inset 0 0 5px #707070;
             box-shadow:inset 0 0 5px #707070;
 
     background: transparent;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

.news-button,
.news-button:hover,
.news-button:focus,
.news-button:active {
  height: 32px;
  width: 175px;
  background-color: #696969;
  color: white;
  border: 0px;
  border-radius: 0px;
  margin: 10px 5px;
  font-family: base;
  font-size: 18px;
  border-color: #696969;
  outline: none;
  box-shadow: none;
}

.input-contact-form {
  padding: 5px 0;
  border-radius:0px;
  -webkit-box-shadow:inset 0 0 10px rgba(230, 230, 230, 0.81);
  -moz-box-shadow:inset 0 0 10px rgba(230, 230, 230, 0.81);
       box-shadow:inset 0 0 10px rgba(230, 230, 230, 0.81);

background: transparent;
}

.input-contact-form:active,.input-contact-form:active:focus {
  border: 1px grey solid;
}

.contact-form {
  color: rgba(175, 175, 175, 0.78);
}

/* SHOW MORE LESS BUTTON*/

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -ms-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  overflow:hidden;
}

.animate-if.ng-enter {
  max-height: 0;
  opacity: 0;
}

.animate-if.ng-enter.ng-enter-active {
  max-height: 999px;
  opacity:1;
}

.animate-if.ng-leave {
  max-height: 999px;
  opacity:1;
  
}

.animate-if.ng-leave.ng-leave-active {
  max-height: 0;
  opacity:1;
}

.y-list-item {
  height: 79px;
  background-color: #f3f3f3;
  color: black;
  font-size: 26px;
  border-radius: 0;
  border-top: 1px #ececec;
  border-bottom: 1px #ececec;
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
  border-color: #ececec;
  padding:0;
}

.y-list-item.open {
  background-color: white;
}

.y-item {
border-top: 1px solid grey;
border-bottom: 1px solid grey;
padding: 10% 15px 10% 15px;
height: 100%;
}

.y-list-item-image {
  height: 26px;
  margin-top:2px;
}

.y-button-image {
  height: 12px;
  margin-top:5px;
}

.font-paragraph {
  font-weight: normal;
}


.show-more {
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  background: #e5feff;
  overflow: hidden;
  max-height: 0;
}
.show-more.show {
  max-height: 300px;
}

.y-contact-form {
  margin-bottom: 20px;
  color: #707070
}

.y-contact-form:first {
  margin-top: 10px;
}

.y-contact-submit-button,
.y-contact-submit-button:hover,
.y-contact-submit-button:active,
.y-contact-submit-button:focus {
  height:40px;
  width: 150px;
  color:white;
  border-radius: 0px;
  text-transform: uppercase;
  background: linear-gradient(0deg, black, grey 100%) no-repeat;
  font-family: base;
  font-size: 22px;;
  border-color: #696969;
  outline: none;
  box-shadow: none;
}

.y-contact-label {
  font-size: 22px
}



/* when hiding the picture */
.ng-hide-add         { -webkit-transition: max-height 5s; 
  -moz-transition: max-height 5s; 
  -ms-transition: max-height 5s; 
  -o-transition: max-height 5s; 
  transition: max-height 1s;   }

/* when showing the picture */
.ng-hide-remove      { -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s;   
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(63, 63, 63, 0.6);
  box-shadow: 0 1px 1px rgba(230, 230, 230, 0.81) inset, 0 0 8px rgba(63, 63, 63, 0.6);
  outline: 0 none;
}

button:focus, button:active {
  border-color: rgba(63, 63, 63, 0.6);
  box-shadow: 0 1px 1px rgba(230, 230, 230, 0.81) inset, 0 0 8px rgba(63, 63, 63, 0.6);
  outline: 0 none;
}

.btn.active, .btn:active {
  background-color: grey;
}